<% @dialog_title = 'Assign Leave' %>
<div class="page_title ui-widget-header ui-widget">Assign Leave</div>
<%= render 'form' %>
<div style="margin-top: 10px">
  <%= render 'shared/assign_button' %>
</div>
<%= render 'shared/alert_panel' %>
