<% @dialog_title = 'Assign Leave' %>
<div id="admin-form" class="ui-widget-content ui-widget ui-corner-all">
  <div class="page_title ui-widget-header ui-corner-all">
    <span>Assign Leave</span>
  </div>
  <%= render 'form' %>
</div>
<%= render 'shared/alert_panel' %>
