<% @dialog_title = 'Leave Period' %>
<div id="admin-form" class="ui-widget-content ui-widget ui-corner-all">
  <div class="page_title ui-widget-header ui-corner-all">
    <span>Leave Period</span>
  </div>
  <%= render 'form' %>
</div>
<%= render 'home/alert_panel' %>
