<% @dialog_title = 'Apply Leave' %>
<div class="page_title ui-widget-header ui-widget">Apply Leave</div>
<%= render 'form' %>
<div style="margin-top: 10px">
  <%= render 'shared/apply_button' %>
</div>
<%= render 'shared/alert_panel' %>
