<div class="ui-widget">
  <div class="ui-state-highlight ui-corner-all" style="margin-top: 20px; padding: 0 .7em;">
    <div>
      <span class="spinner" style="float: left; margin-right: .3em"></span>
      <div style="margin-left: 20px;">Loading ...</div>
    </div>
  </div>
</div>