<%= render 'home/search_input' %>
<table>
  <tr>
    <td>
      <div id="id_save" class="hover ui-state-default ui-corner-all">
        <span class="icons saveicon paddicon">Save</span>
      </div>
    </td>
  </tr>
</table>
