<% @dialog_title = 'Emergency Contact' %>
<div class="page_title ui-widget-header ui-widget">Emergency Contact</div>
<%= render 'form' %>
<div style="margin-top: 10px">
  <%= render 'shared/save_button' %>
</div>
<%= render 'shared/alert_panel' %>

